/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: black;
}

canvas {
  position: fixed;
  top: 0;
  left: 0; /* Ensures the canvas is behind other content */

}

.audio {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}


audio{
  width: 50rem;
}
audio::-webkit-media-controls-panel{
  background-color: rgba(0, 0, 0, 0.377);
}
audio::-webkit-media-controls-play-button{
  background-color: rgb(56, 56, 56);
  border-radius: 50%;
}
audio::-webkit-media-controls-current-time-display{
  color: #000000;
}
audio::-webkit-media-controls-time-remaining-display{
  color: #000000;
}
audio::-webkit-media-controls-timeline{
  border-radius: 40px;
  background-color: rgb(56, 56, 56);
}
audio::-webkit-media-controls-volume-slider{
  background-color: rgb(56, 56, 56);
  border-radius: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
audio::-webkit-media-controls-mute-button{
  background-color: rgb(56, 56, 56);
  border-radius: 50%;
}

.digital-clock {
  font-size: 24px;
  font-family: 'Poppins';
  font-weight: 700;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 1rem;
  color: rgb(0, 0, 0);
  text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff; 
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
  height: 100%;
  border-radius: var(--border-radius);
  color: rgb(255, 255, 255);
  overflow: auto;
}

.header-img {
  width: 325px;
  height: 300px;
  border-radius: 100%;
  margin: 10px;
  margin-top: 10px;
  box-shadow: 0px 0px 10px 2px rgb(255, 1, 1), 0.5;
  z-index: -1;
}

.name {
  font-family: "Poppins";
  font-size: 2rem;
  z-index: -1;
}

.task {
  font-family: "Poppins";
  font-size: 5rem;
}

/* BUTTON ASSIGNMENTS */
.button-assignments {
  display: flex;
  justify-content: center;
}

/* CONVERSION SECTION */  
.conversion-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  z-index: 900;
}

.conversion-section a  {
  text-decoration: none;
  color: white;
  padding: 1rem;
  border-radius: 2rem;
  outline: solid white;
  font-size: .7rem;
}

.conversion-section:hover a  {
  background: #374151;
  color:#E5E7EB;
}

/* ITC SECTION */
.itc-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  z-index: 900;
}

.itc-section a  {
  text-decoration: none;
  color: white;
  padding: 1rem;
  border-radius: 2rem;
  outline: solid white;
  font-size: .7rem;
}

.itc-section:hover a  {
  background: #374151;
  color:#E5E7EB;
}

/* PAYROLL SECTION */

.payroll-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 900;
}

.payroll-section a  {
  text-decoration: none;
  color: white;
  padding: 1rem;
  border-radius: 2rem;
  outline: solid white;
  font-size: .7rem;
}

.payroll-section:hover a  {
  background: #374151;
  color:#E5E7EB;
}

.icons {
  font-size: 2.5rem;
  cursor: pointer;
  display: none;
  z-index: 100;
  color: white;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  background:none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
nav .navbar{
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 80px;
  justify-content: space-between;
  /* background: red; */
  padding: 0 50px;
}
.navbar .logo a{
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  margin-right: 20px;
}
nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
}
nav .navbar .links{
  display: flex;
}
nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a{
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow,
.links li:hover .jss-arrow,
.links li:hover .jsss-arrow,
.links li:hover .jssss-arrow{
  transform: rotate(180deg);
  }

nav .navbar .links li .arrow{
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #000000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu,
nav .navbar .links li:hover .jss-sub-menu,
nav .navbar .links li:hover .jsss-sub-menu,
nav .navbar .links li:hover .jssss-sub-menu{
  display: block;
}
.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
  color: #fff;
  font-size: 13px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow{
  line-height: 40px;
}
.navbar .links li .htmlCss-more-sub-menu{
  /* line-height: 40px; */
}
.navbar .links li .sub-menu .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu{
  display: block;
}
.search-box {
  color: black;
}
.navbar .nav-links .sidebar-logo{
  display: none;
}
.navbar .bx-menu{
  display: none;
}

@media (max-width:1500px){
  body {
    overflow: scroll;
  }
  .audio {
    display: none;
  }
  nav{
    z-index: 1000;
  }
  .logo {
    margin-left: 1rem;
  }
  .navbar .bx-menu{
    display: block;
  }

  nav .navbar{
    margin: 0 -20px;
  }

  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 400px;
    width: 100%;
    background:  #000000;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name{
    font-size: 25px;
    color: #fff;
  }
    .sidebar-logo  i,
    .navbar .bx-menu{
      font-size: 25px;
      color: #fff;
    }
  nav .navbar .links{
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow{
    line-height: 40px;
  }
nav .navbar .links li{
    display: block;
    
  }
nav .navbar .links li .sub-menu{
  position: relative;
  top: 0;
  box-shadow: none;
  display: none;
  z-index: 900;
}
nav .navbar .links li .sub-menu li{
  border-bottom: none;
}
.navbar .links li .sub-menu .more-sub-menu{
  display: none;
  position: relative;
  left: 0;
}
.navbar .links li .sub-menu .more-sub-menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow,
.links li:hover .jss-arrow,
.links li:hover .jsss-arrow,
.links li:hover .jssss-arrow{
  transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
  }
  .navbar .links li .sub-menu .more span{
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu{
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu,
  nav .navbar .links li:hover .jss-sub-menu,
  nav .navbar .links li:hover .jsss-sub-menu,
  nav .navbar .links li:hover .jssss-sub-menu{
    display: none;
  }
.navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show4 .links .jss-sub-menu,
  .navbar .nav-links.show5 .links .jsss-sub-menu,
  .navbar .nav-links.show6 .links .jssss-sub-menu
  {
      display: block;
    }
    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow,
    .navbar .nav-links.show4 .links .jss-arrow,
    .navbar .nav-links.show5 .links .jsss-arrow,
    .navbar .nav-links.show6 .links .jssss-arrow{
        transform: rotate(180deg);
}
    .navbar .nav-links.show2 .links .more-arrow{
      transform: rotate(90deg);
    }
}

@media (max-width:550px){
  nav {
    background: black;
  }
  body {
    overflow: scroll;
  }
  .header-img {
    width: 250px;
    height: 225px;
    border-radius: 100%;
    z-index: -1;
  }
  
  .name {
    font-family: "Poppins";
    font-size: 2rem;
    z-index: -1;
  }
  
  .task {
    font-family: "Poppins";
    font-size: 4rem;
  }
  .logo {
    margin-left: 3rem;
  }
  .button-assignments {
    display: flex;
    flex-direction: column;
  }
  .itc-section {
    margin-top: 1rem;
  }
  .payroll-section {
    margin-top: 1rem;
  }
  
}

@media (max-width:430px){
  body {
    overflow: scroll;
  }
  .header-img {
    width: 225px;
    height: 200px;
    border-radius: 100%;
    z-index: -1;
  }
  
  .name {
    font-family: "Poppins";
    font-size: 1.5rem;
    z-index: -1;
  }
  
  .task {
    font-family: "Poppins";
    font-size: 3.5rem;
  }
  .logo {
    margin-left: 3rem;
  }
  .button-assignments {
    display: flex;
    flex-direction: column;
  }
  .conversion-section a{
    font-size: .6rem;
  }
  .itc-section {
    margin-top: 1rem;
  }
  .itc-section a {
    font-size: .6rem;
  }
  .payroll-section {
    margin-top: 1rem;
  }
  .payroll-section a {
    font-size: .6rem;
  }
  .course {
    font-size: 1rem;
  }
}


@media (max-width:370px){
  nav .navbar .nav-links{
  max-width: 100%;
} 
.task {
  font-size: 3rem;
}
}
